* {
  padding: 0;
  border: 0;
  margin: 0;
}
body {
  width: 100%;
  background: #484848;
}
body .bg {
  width: 100%;
}
body .prize {
  width: 6rem;
  position: absolute;
  top: 7rem;
  left: 2rem;
}
body p {
  display: block;
  width: 8rem;
  margin: 0 auto;
  text-align: center;
  font-size: 0.4rem;
  color: #fff268;
}
