* {
  padding: 0;
  border: 0;
  margin: 0;
}
body {
  width: 100%;
  background: #484848;
}
body .bg {
  width: 100%;
}
body .prize {
  width: 6rem;
  position: absolute;
  top: 7rem;
  left: 2rem;
}
body p {
  display: block;
  width: 8rem;
  margin: 0 auto;
  text-align: center;
  font-size: 0.5rem;
  line-height: 0.7rem;
  color: #fff268;
}
body .sorry {
  position: absolute;
  top: 8rem;
  left: 2rem;
  width: 6rem;
  text-align: center;
}
body .play {
  position: absolute;
  top: 10rem;
  left: 3rem;
  width: 4rem;
  padding: 0 0.2rem;
  color: #fff268;
  text-decoration: none;
  text-align: center;
  font-size: 0.5rem;
  background: #9cb92d;
  border-radius: 2px;
  line-height: 0.8rem;
  margin-top: 0.5rem;
}
