* {
  padding: 0;
  border: 0;
  margin: 0;
}
body {
  width: 100%;
}
body img {
  width: 100%;
}
body .goto {
  position: relative;
  width: 100%;
}
body .goto p {
  position: absolute;
  font-size: 0.4rem;
  color: #d7000f;
  top: 2.3rem;
  left: 0.8rem;
}
body .goto .rule {
  position: absolute;
  display: inline-block;
  top: 4rem;
  left: 1rem;
}
body .goto .play {
  position: absolute;
  display: inline-block;
  top: 4rem;
  left: 6rem;
}
body .goto a {
  display: inline-block;
  width: 3rem;
  font-size: 0.5rem;
  background: #9cb92d;
  border-radius: 2px;
  line-height: 0.8rem;
  margin-top: 0.5rem;
  padding: 0 0.2rem;
  color: #fff268;
  text-align: center;
  text-decoration: none;
}
